.actionForm {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    border-radius: 8px;
    margin: 4px 0;
    padding: 4px 0;

    > input {
        padding: 11px; // So it lines up with the select elements

        &.invalid {
            outline: 1px solid #f88;
        }
    }

    > input[type=number] { width: 45px }
    > input[type=text] { width: 50px; min-width: fit-content }

    &:hover {
        background: #fff1;
    }
    
    svg {
        margin: 0;
    }

    .controlBtn {
        background: none!important;
        padding: 0;

        svg { transition: color 0.3s }
        &:hover { color: #bbb }
    }

    .modifier {
        display: flex; 
        flex-direction: row;
        align-items: center;

        > input[type=number] { width: 45px }
        > input[type=text] { width: 50px; min-width: fit-content }
        svg { margin: 0 }
    }

    .arrowBtns {
        padding: 0 1em;
        display: grid;

        button { margin: 0 }
    }

    .conditionContainer {
        display: flex;
        align-items: center;
        gap: 4px
    }

    .multiContainer {
        width: 100%;
        padding-left: 6em;
    }

    .addFieldBtnContainer {
        position: relative;

        .addFieldBtn {
            display: flex;
            gap: 6px;
            padding-inline: 8px;
            font-weight: normal;
        }

        .addFieldMenu {
            position: absolute;
            top: 100%;
            display: grid;
            gap: 2px;
            width: 200px;
            background: #544;
            z-index: 1;

            button {
                margin: 0;
                border-radius: 0;
                text-align: left;
                display: flex;
                align-items: center;
                gap: 1em;
                padding: 1em;

                &:not(:hover) { background: none }

                svg { margin: 0 }
            }
        }

        .copyBtn {
            position: relative;

            .success {
                pointer-events: none;
                user-select: none;
                position: absolute;
                top: -15px;
                opacity: 0;
            }

            &:focus .success {
                animation-name: fadeOut;
                animation-duration: 400ms;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }
            
            @keyframes fadeOut {
                from { opacity: 1; top: -15px }
                to { opacity: 0; top: -30px }
            }
        }
    }

    .pristine {
        animation-name: pristine;
        animation-duration: 800ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        animation-iteration-count: 1;

        @keyframes pristine {
            from { background: #766 }
            to { background: transparent }
        }
    }
}